<mat-nav-list>
	<div class="profile-card">
		<div class="header">
			<h2>Talha Ikram</h2>
			<h4>talha@kodextech.com</h4>
		</div>
		<!-- <img src=".../assets/images/gallery 3.png" alt=""> -->
	</div>
	
	<mat-divider></mat-divider>
	<h2 matSubheader>Pages</h2>

	<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

	<mat-divider></mat-divider>

	<h2 matSubheader>Tools</h2>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
		<mat-icon>import_contacts</mat-icon>
		Contacts
	</a>

	<a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
		<mat-icon>contact_phone</mat-icon>
		Leads
	</a>

</mat-nav-list>

