<div>
	<app-widget-area></app-widget-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20x" class="stats-cards">
	<mat-card fxFlex="25">
		<app-widget-card label="Users" total="18k" percentage="50"></app-widget-card>
	</mat-card>
	<mat-card fxFlex="25">
		<app-widget-card></app-widget-card>
	</mat-card>
	<mat-card fxFlex="25">
		<app-widget-card></app-widget-card>
	</mat-card>
	<mat-card fxFlex="25">
		<app-widget-card></app-widget-card>
	</mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
	<div>Table</div>
	<div>Pie chart</div>
</div>